*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: black;
    --secondary-color: grey;
    --third-color: #A29D95;
    --mainBox-shadow: .2rem .2rem .1rem .2rem rgba(0, 0, 0, 0);
    --card-box-shadow: .5vw .5vw 1vw rgba(silver);
    --text-shadow: .3rem .3rem .4rem rgba(255, 255, 255, 255);
    --bgImg: linear-gradient(to bottom, black 100%, white 25%);
    --mainBg: black 100%, #A29D95 25%;
}

body {
    background-color: black;
    background-repeat: no-repeat;
    color: white;
    width: 100vw;
    overflow-x: hidden;
    font-family: "Roboto Serif", serif;
}
/* Navbar */
.navbar {
    background-color: black;
    font-family: sans-serif;
    border-bottom: 2px red solid;
}

img[alt='logo'] {
    aspect-ratio: 1/1;
    width: 75px;
}

.nav-link {
    color: var(--secondary-color);

    &:hover {
        color: whitesmoke;
        text-decoration: underline;

        &:active {
            color: var(--third-color);
        }
    }
}

@media (min-width: 992px) {}
/* landing image */
img[alt='profileImage'] {
    aspect-ratio: 1/1;
    width: 240px;
    height: 240px;
}
/* Homepage */
.landing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;

}
/* Name and Occupation */
.title {
    width: fit-content;
    color: silver;

}

/* About */
.aboutbg {
    background-image: url(https://achar1f.github.io/projectimages/images/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
}


.skills {
    display: flex;
    justify-content: center;
    text-align: center;
}
.skilldata{
    border: 3px silver solid;
    text-align: center;
}

.data {
    border-right: 2px silver solid;
    text-align: center; 
}
/* Resume */
.resumecontainer {
    &:hover{
        text-decoration:2px silver underline;
    }
}

.redu {
    border:5px solid whitesmoke;  
    &:hover{
        text-decoration: 2px silver underline;
    } 
}

/* Projects */
.card {
    width: 18rem;
    height: 18rem;
    color:#A29D95;
    margin-top: 50px; 
}

.btn {
    color: white;
    background-color: silver;
    margin: 10px;
}

/* Testimonials */
img[alt='dp'] {
    aspect-ratio: 1 / 1 ;
    border-radius: 90px 90px 0 0;
}

.card {
    width: 18rem;
}

.card-body-t {
    text-align: center;
    background-color:rgb(33, 42, 42);
    color: silver;
    font-size: x-small;
    height: 13rem;
    border: 5px double #A29D95;
    
   
    &:hover{
        text-decoration: underline #A29D95;
    }
}

/* Reach Me Section */
.rmecontainer{
    display: flex;
    align-items: center;
    text-align: center;
}

input, 
textarea {
caret-color: rgb(90, 90, 90);
background-color: lightgray;
height: 2rem;
width: 18rem;
}

.bi-telephone-inbound, .bi-envelope-at-fill, .bi-github {
    color : white;
    background-color: black;
    font-family: sans-serif;
}
.github-profile {
    text-decoration: none;
    color: #A29D95;
}
.reachMeForm {
    display: flex;
    text-align: center;
    gap: 1.5rem;
}

.rmform {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    
}

.formbuttons {
    display: flex;
    & button {
        margin-inline: 20px;
        padding-inline: 25px;
        border-radius: 45px 35px 45px 35px;
        background-color: #A29D95;
        color: white;
        &:hover {
            color: silver;
            background-color: red;
        }
    }
}

/* Footer */
.fsec {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 1.5rem;
    margin-top: 20px;
    border-top:2px solid grey;
    background-image: linear-gradient(270deg, black 50%,#A29D95) ;

}